<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="style_index.css">

</head>

<body>
  <header class="header">
    <div class="header_logo">
      <img src="/img/logo.png" alt="Logo" height="40px" width="40px" >
      <h1 class="header_name">Quiz App</h1>
    </div>
    <nav class="header_nav">
      <ul>
        <li><a href="/views/play/play.html">Play Quiz</a></li>
        <li><a href="/views/edit/edit.html">Edit Quiz</a></li>
      </ul>
    </nav>
  </header>
  <main class="main_content">
    <img src="/img/welcome.jpg" alt="Background_Image" class="background_image">
  </main>
</body>

</html>