* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    background-color: rgb(193, 189, 189);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header_name {
    font-size: 24px;
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.header_nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}







