* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    background-color: rgb(193, 189, 189);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header_name {
    font-size: 1.2rem;
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.header_nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.header_nav ul li a:hover {
    color: blue;
}

main {
    padding: 20px;
}

.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.background_image {
    width: 70%;
    height: 70%;
    border-radius: 10px;
}









